@charset "UTF-8";
/*------------------------------------
            PATR├ôN DE COLORES
-------------------------------------*/
/*------------------------------
            GLOBAL
------------------------------*/
html {
  scroll-behavior: smooth; }

body {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #111111; }

/*------------------------------
            WELCOME
------------------------------*/
header.encabezado {
  background: #111111;
  color: #fff;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%; }

header figure img {
  max-width: 2rem;
  height: auto;
  flex: 0 1 auto;
  margin: 0;
  padding: 0; }

.main-menu {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.main-menu a {
  flex: 1 1 auto;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.5rem 0; }

.main-menu a:hover,
.main-menu a.active {
  background-color: #ddd;
  color: #12afaf; }

/*------------------------------
            PROFILE
------------------------------*/
section.profile {
  background-color: #12afaf;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column; }

div.hero {
  margin-top: 4rem;
  text-align: center; }

main.main-info {
  display: flex; }

figure.box-photo {
  max-width: 180px;
  height: auto;
  border: 2px solid #009500;
  order: 0;
  background-color: gray;
  flex: 0 1 100%; }

main figure img {
  max-width: 100%;
  height: auto; }

article.presentation button#in-main {
  background-color: #009500;
  border-radius: 5px; }

article.presentation button#in-main > a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: .5rem; }

article.presentation button#in-main > a:hover {
  color: #ddd; }

article.briefly-description {
  text-align: center;
  width: auto;
  margin: 0;
  padding: 0; }

article.briefly-description p {
  background-color: #009500;
  border: 4px groove silver;
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 10px; }

/*------------------------------
            SOFTWARE
------------------------------*/
section.software {
  display: flex;
  flex-direction: column;
  background-color: crimson;
  color: #fff;
  padding: .5rem 2.5rem; }

section.software > h2.section-title {
  text-align: center; }

section.software p {
  margin: .5rem; }

section.software ul {
  margin-top: 0;
  margin-bottom: 1rem; }

section.software ul li a {
  color: #fff;
  text-decoration: none; }

section.software ul li a:hover {
  color: #ddd; }

/*------------------------------
            PHILOSOPHY
------------------------------*/
section.philosophy {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #111111;
  padding: .5rem 2.5rem; }

section.philosophy > h2.section-title {
  text-align: center;
  color: #12afaf; }

section.philosophy p {
  margin: .5rem; }

section.philosophy ul {
  margin-top: .3rem;
  margin-bottom: .5rem; }

section.philosophy h4 {
  margin-top: .3rem;
  margin-bottom: .3rem; }

section.philosophy ul li a,
section.philosophy p a {
  color: #12afaf;
  text-decoration: none; }

section.philosophy ul li a:hover,
section.philosophy p a:hover {
  color: crimson; }

/*------------------------------
            LINGUISTICS
------------------------------*/
section.linguistics {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  color: #111111;
  padding: .5rem 2.5rem; }

section.linguistics > h2.section-title {
  text-align: center;
  color: #12afaf; }

section.linguistics p {
  margin: .5rem; }

section.linguistics ul {
  margin-top: .3rem;
  margin-bottom: .5rem; }

section.linguistics h4 {
  margin-top: .3rem;
  margin-bottom: .3rem; }

section.linguistics ul li a {
  color: #12afaf;
  text-decoration: none; }

section.linguistics ul li a:hover {
  color: crimson; }

/*------------------------------
            HOBBIES
------------------------------*/
section.hobbies {
  display: flex;
  flex-direction: column;
  background-color: #009500;
  color: #fff;
  padding: .5rem 2.5rem; }

section.hobbies > h2.section-title {
  text-align: center;
  color: #fff; }

section.hobbies ul {
  margin-top: 0; }

/*------------------------------
            CONTACT
------------------------------*/
section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111111;
  padding: .5rem 2.5rem; }

section.contact h2.section-title {
  color: #12afaf; }

form {
  border-radius: 5px;
  background-color: #ddd;
  padding: 20px;
  max-width: 40%; }

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

button.send {
  color: #fff;
  background-color: #12afaf;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

button.send:hover {
  background-color: #009500;
  border-color: transparent;
  transition: all .5s ease; }

button.clear {
  color: #fff;
  background-color: #6c757d;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; }

button.clear:hover {
  background-color: #5a6268;
  border-color: transparent;
  transition: all .5s ease; }

/*------------------------------
            FOOTER
------------------------------*/
footer {
  background: #111111;
  color: #fff;
  text-align: center;
  font-size: .9rem;
  padding: .3rem 0; }

footer ul {
  display: flex;
  justify-content: center; }

footer ul li {
  list-style: none; }

footer ul li a {
  color: #fff;
  font-size: 2rem;
  margin: 0 .5rem;
  opacity: .7;
  transition: all .5s ease; }

footer ul li a:hover {
  opacity: 1; }

/* FLECHA SUBIR */
.ir-arriba {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: #12afaf;
  text-decoration: none;
  z-index: 99;
  /*asignas un n├║mero de capa. La capa m├ís alta se ubica arriba de las dem├ís*/
  line-height: 0;
  /*para quitar valor x defecto del navegador*/
  transition: all .5s ease; }

.ir-arriba:hover {
  outline: 0;
  text-decoration: none;
  color: #fff; }

/*------------------------------
            QUERIES
------------------------------*/
@media (min-width: 992px) {
  html {
    font-size: 16px; } }

/*# sourceMappingURL=styles.css.map */
